* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    ;
    min-height: 100vh;
    background-color: #3333;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-top-color: palegoldenrod;
    border-right-color: palevioletred;
    border-bottom-color: peru;
    border-left-color: purple;
    background-color: transparent;
    animation: snipper 0.0001s linear infinite;
}

@keyframes snipper {
    to {
        transform: rotate(360deg);
    }
}

.box::before {
    position: absolute;
    content: "";
    width: 90%;
    height: 90%;
    top: 100%;
    left: 100%;
    transform: translateY(-50%);
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-bottom-color: red;
    border-right-color: red;
}